body {background-image: url(coffee_border_trimmed.jpg); background-position:left; 
      background-repeat: repeat-y; margin-top:0; padding-top:0; background-color: #6F4E37}

/*  page css  */
.colorBlue {color: blue;}
#main {position: absolute;
	 top: 50px;
	 left: 120px;
	text-align: right;
}
#big { font-weight: bold;}
 
